
.todo-container {
  width: 550px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  text-align: center;
}


.todo-container input {
  width: 65%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.todo-container button {
  padding: 8px 10px;
  margin-left: 5px;
  border: none;
  background-color:red;
  border-radius: 4px;
  cursor: pointer;
}


.task-list {
  list-style: none;
  padding: 0;

  margin-top: 20px;
}


.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0beb0b;
  padding: 8px;
  font-weight: 700;
  margin-bottom: 8px;
  border-radius: 5px;
}


.task-item span {
  flex: 1;
  text-align: left;
}


.task-item button {
  margin-left: 5px;
  font-size: 12px;
}


.task-item span[style*="line-through"] {
  color: gray;
}


.all-btn {
  width: 100%;
  margin-top: 15px;
}